<h5 class="border-bottom my-3 py-2"><i class="fas fa-reply"></i> {{comment.answer_set.count}}개의 답변이 있습니다.</h5>
{% for answer in comment.answer_set.all %}
<div class="row my-3">
  <div class="col-1"> <!-- 추천영역 -->
    <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
        {{answer.voter.count}}</div>
    <a href="{% url 'main:vote_answer' area answer.id %}" data-uri="{% url 'main:vote_answer' area answer.id %}" 
        class="recommend btn btn-sm btn-secondary btn-block my-1">추천</a>
</div>
<div class="col-11"> 
<div class="card my-3">
  <div class="card-body">
    <div class="card-text" style="white-space: pre-line"><i class="fas fa-comment-dots"></i> {{ answer.content }}</div>
    <div class="d-flex justify-content-end">
      {% if answer.modify_date %}
      <div class="badge badge-light p-2 text-left">
        <div class="mb-2">작성자 : {{answer.author.username}}</div>
        <div><i class="fas fa-clock"></i>{{ answer.modify_date | date:'Y-m-d H:i:s'}}</div>
      </div>
      {% else %}
      <div class="badge badge-light p-2 text-left">
        <div class="mb-2">작성자 : {{answer.author.username}}</div>
        <div><i class="fas fa-clock"></i>{{ answer.create_date | date:'Y-m-d H:i:s'}}</div>
      </div>
      {% endif %}
  </div>
    {% if request.user == answer.author %}
    <a href="{% url 'main:answer_modify' area answer.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
    <a href="{% url 'main:answer_delete' area answer.id %}" class="delete btn btn-sm btn-outline-danger" data-uri="{% url 'main:answer_delete' area answer.id %}">삭제</a>
    {% endif %}
</div>
</div>
</div>
</div>
{% endfor %}
