@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

.box2{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.test{
    position:absolute;
    top:150px;
    left:26%;
    background-color: rgb(242, 240, 229);
    padding: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    width: 1000px;
    border-radius:15px;
    }


  .pagination{
    justify-content: center;
  }
  
  .page-item-num.active .page-link{
    background-color: skyblue;
    font-size: 25px;
    color:white;
  }
  .page-item-num{
    font-size: 25px;
  }
  
  .page-link,.page-item-num,.page-item.active{
    background-color: rgb(242, 240, 229);
  }
  
  .page-item.disabled .page-link{
    background-color: gainsboro;
  }
  
  .button {
    border: none;
    cursor: pointer;
    background-color: lightblue;
    color:black;
    padding: 10px;
    font-weight: 900;
    transition: 0.3s;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 15px;
    float : right;
  }
  .button:hover {
    background-color: white;
    color:black;
  }

  .result{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
  }