{% extends "base.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/styles.css'%}" rel="stylesheet" />
<link href="{% static 'css/accounts.css' %}" rel="stylesheet"/>
<img src="{% static 'images/home1.jpg'%}" alt="" class="home__img">
<div class = "password_reset_form">
<div class="mt-5 text-center">
    <h1 class="text-center mb-5">비밀번호 변경</h1>
    <div class="alert alert-info mb-5">가입시 등록하였던 이메일을 입력해주세요</div>    

    <form method="post">
        {% csrf_token %}
    
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}</div>
        {% endfor %}

        <button type="submit" class="btn btn-success">변경</button>
    </form>
</div>
</div>

{% endblock %}


